{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-inline">
        {{ form_widget(form.carBrand) }}
        {{ form_widget(form.model) }}
        {{ form_widget(form.productionYear, {'attr': {'style': 'width:150', 'placeholder': 'Rok produkcji'}}) }}
        {{ form_widget(form.fuelType) }}
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
