{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-inline">
        {{ form(form) }}
    </div>
    <div>
        <a class="btn btn-primary" href="{{ path("car_add") }}" role="button" style="margin-bottom: 10">Dodaj
            samochód</a>
        <a class="btn btn-success export-button" href="{{ path("cars_export") }}" role="button" target="_blank"
           style="margin-bottom: 10">Export tabeli</a>
    </div>
    {% if cars is not empty %}
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-lg-2">Marka</th>
                    <th class="col-lg-2">Model</th>
                    <th class="col-lg-2">Rok produkcji</th>
                    <th class="col-lg-2">Paliwo</th>
                    <th class="col-lg-2">Akcje</th>
                </tr>
                </thead>
                <tbody>
                {% for car in cars %}
                    <tr>
                        <td>{{ car.carBrand }}</td>
                        <td>{{ car.model }}</td>
                        <td>{{ car.productionYear }}</td>
                        <td>{{ car.fuelType }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path("car_edit", {'car': car.id}) }}" role="button">Edytuj</a>
                            <a class="btn btn-danger delete-button" href="{{ path("car_delete", {'car': car.id}) }}"
                               role="button">Usuń</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    {% include "/templates/confirmation-dialog-template.html.twig" %}
    {% include "/templates/alert-dialog-template.html.twig" %}
    <script>
        $(document).ready(function () {
            var cars = {{ cars|json_encode|raw }};
            if (cars.length === 0) {
                $(".export-button").css("display", "none");
            }
        });
    </script>
{% endblock %}
